<module>
	<rawname>amd</rawname>
	<repo>standard</repo>
	<name>AMD</name>
	<version>13.0.3</version>
	<publisher>Sangoma Technologies Inc.</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>This module is used to manage AMD. The AMD application attempts to detect answering machines at the beginning of outbound calls</description>
	<menuitems>
		<amd>AMD Settings</amd>
	</menuitems>
	<changelog>
		*13.0.3* FREEPBX-19776
		*13.0.2* FREEPBX-17940 Installing amd module overwrites amd.conf without preserving content
		*13.0.1* Initial release
	</changelog>
	<supported>
		<version>13.0</version>
	</supported>
</module>
